select.form-control, input, button.btn-primary, button.btn-success {
    &:focus {
        box-shadow: none;
        outline: none;
    }
}


.mainBody {
    padding-top: 15px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.moviesList {
    list-style: none;
    padding: 0;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        transition: .3s;
        border-bottom: 1px solid #efefef;

        &:nth-child(odd) {
            background: #f9f9f9;
            //background: #efefef;
        }

        &:hover {
            padding-left: 20px;
            cursor: pointer;

            .title{
                color: #149a80;
            }

            .removeItem {
                opacity: 1;
            }
        }

        .title{
            color: #4a5054;
            transition: .3s;
        }

        .removeItem {
            display: flex;
            align-items: center;
            opacity: 0;
            transition: .3s;

            &:hover{
                color: #d32f2f;
            }
        }
    }
}


button{
    &:focus{
        outline: none;
    }
}