.header {
    background: #1e2b37;

    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-top: 15px;

        > * {
            margin-bottom: 15px;
        }
    }

    .searchContainer {
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        margin-right: auto;
        max-width: 400px;

        .form-group {
            margin-bottom: 0;

            input {
                border: none;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

            select {
                border: none;
                border-left: 1px solid #ced4da;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background: #ecf0f1;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .searchGroup{
            position: relative;
            display: flex;
            flex-grow: 1;
            align-items: center;

            .searchBtn{
                display: flex;
                position: absolute;
                right: 5px;
                color: #a8b7b8;
                background: transparent;
                border: none;
                transition: .3s;

                &:focus{
                    outline: none;
                }

                &:hover{
                    color: #149a80;
                    cursor: pointer;
                }
            }
        }
    }

    .btnsContainer{
        display: flex;
    }

    .addMovie {
        display: flex;
        justify-content: center;
        margin-right: 6px;

        button {
            display: flex;
            align-content: center;
            color: #ffffff;
            background: #f57f17

        ;

            &:hover{
                background: #ffb04c;
            }
        }
    }

    .importContainer{
        label{
            display: flex;
            align-items: center;
            padding: 6px 12px;
            margin-bottom: 0;
            border-radius: 4px;
            transition: .3s background;
            background: #149a80;
            color: #ffffff;

            &:hover{
                cursor: pointer;
                background: #52c7b8;
            }

            i{
                margin-right: 5px;
            }
        }

        .import {
            display: none;
        }
    }
}

.overlay{
    position: fixed;
    z-index: 5000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modalContainer{
    background: #ffffff;
    width: 500px;
    margin: 1.75rem auto;
    border-radius: 4px;
    overflow: hidden;

    .modalHeader{
        position: relative;
        padding: 16px;
        border-bottom: 1px solid rgb(233, 236, 239);

        .close{
            position: absolute;
            right: 0;
            top: 0;
            padding: 16px;
            font-size: 1.5rem;
            color: #000000;

            &:hover{
                cursor: pointer;
            }
        }
    }

    .modalBody{
        padding: 16px;
        border-bottom: 1px solid rgb(233, 236, 239);
        overflow-y: auto;
        max-height: #{calc(100% - 150px)};
    }

    .modalFooter{
        display: flex;
        justify-content: flex-end;
        padding: 16px;

    }
}